<div class="upload-container">
  <h2>Upload File to S3</h2>
  <div class="upload-status" *ngIf="uploadStatus">{{ uploadStatus }}</div>
  
  <input 
        type="file" 
         (change)="onFileSelected($event)" 
         accept=".pdf,.txt"
         [disabled]="isUploading" />
  
  <button (click)="uploadFile()" 
          [disabled]="!selectedFile || isUploading">
    {{ isUploading ? 'Uploading...' : 'Upload' }}
  </button>

  <div class="c" *ngIf="files.length">
    <h3>Uploaded Files</h3>
    <div *ngFor="let file of files; let i = index">  
      <div>
        {{ i + 1 }}. {{ file.fileName }}  
      </div>

      <div>
      <button
        (click)="viewFile(file.fileName)"
        [disabled]="!file.isInDynamoDB">
        {{ file.isInDynamoDB ? 'Generate' : 'Textract in Progress' }}
      </button>
      </div>

      <button (click)="deleteFile(file.fileName)">
        Delete
      </button>

    </div>
  </div>
</div>